#
# Copyright 2020 IBM Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http:#www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

general:
  environment: IBMCloudPrivate
  clusterDomain: cluster.local
  clusterName: mycluster
  ingressPort: 8443

image:
  pullPolicy: IfNotPresent
  pullSecret:
    enabled: false
    name: regcred

security:
  ca:
    keystore:
      password: changeme
    truststore:
      password: changeme
    # set to `external` to use existing CA stored in Kubernetes secret to generate certs
    origin: internal
    external:
      # the secret need to be in the same namespace as the chart release
      secretName: cluster-ca-cert
      # the Kubenetes field name (key) within the specified secret that stores CA cert
      certFieldName: tls.crt
      # the Kubenets field name (key) within the specified secret that stores CA private key
      keyFieldName: tls.key
  app:
    keystore:
      password: changeme
  tls:
    version: TLSv1.2

logstash:
  replicas: 1
  name: logstash
  heapSize: "512m"
  memoryLimit: "1024Mi"
  port: 5000
  image:
    repository: "quay.io/opencloudio/icp-logstash-oss"
    tag: "6.6.1-build.2"
    digest: "sha256:0d896ae1a89e2e01cebc25a53199da3ae9a9431e11fad68babebaafd46c52cda"
  nodeSelector:
  tolerations: []
  probe:
    enabled: false
    periodSeconds: 60
    minEventsPerPeriod: 1
    maxUnavailablePeriod: 5
    resources:
      limits:
        memory: 256Mi
      requests:
        memory: 64Mi
    image:
      repository: "quay.io/opencloudio/logstash-liveness-probe"
      tag: "1.0.2-build.2"
      digest: "sha256:a53079d2126b95bda4c12ca50107f278a63d8a0154427753af42d488d065acb9"
kibana:
  install: true
  replicas: 1
  name: kibana
  nodeSelector:
  tolerations: []
  # accepted values:
  # ingress or loadBalancer, defaults to loadBalancer
  access: loadBalancer
  ingress:
    # "/kibana" for managed service logging instance
    # sample value for custom ingress: "/tenantA/kibana"
    # no trailing /
    path: "/tenantA/kibana"
    # additional labels to facilitate link rendering in icp console
    labels:
      inmenu: "true"
      # if provided, the link will open in a new tab with the target value in the <a> tag
      target: "logging-sampleA"
    annotations:
  service:
    # additional labels to facilitate link rendering in icp console
    labels:
      inmenu: "true"
      # if provided, the link will open in a new tab with the target value in the <a> tag
      target: "logging-sampleA"
    # additional annotations to facilitate link rendering in icp console
    annotations:
      # display name that will show in the menu
      name: "Logging - Sample A"
      # provided by icp console
      id: "add-ons"
      # list of roles to be able to view TA in the menu
      roles: "ClusterAdministrator,Administrator,Operator,Viewer"
      # show link if user is in any of the teams
      # ui.icp.ibm.com/tenant:
  internal: 5601
  # port to access the kibana instance from outside the cluster
  # only used when ingress set to loadBalancer
  external: 31601
  # maximum old space size (in MB) of the V8 Javascript engine
  maxOldSpaceSize: "1536"
  memoryLimit: "2048Mi"
  image:
    repository: quay.io/opencloudio/icp-kibana-oss
    tag: 6.6.1-build.2
    digest: "sha256:2293c15ad33c473cf10a7449569b2a9d843b31c21fa7414f08dff189ed6e6c29"
  init:
    resources:
      limits:
        memory: 256Mi
      requests:
        memory: 64Mi
  initImage:
    repository: "quay.io/opencloudio/curl"
    tag: "4.2.0-build.5"
    digest: "sha256:149af26f9f16183a6e4ff78f00b43e64b7ca6f1da57615a4471639f80f982e4d"
  routerImage:
    repository: "quay.io/opencloudio/icp-management-ingress"
    tag: "2.5.3"
    digest: "sha256:f6694ea8a461468989874b4b091f1d64366eacb9821cc9836d8100e34f333634"
    resources:
      limits:
        memory: 256Mi
      requests:
        memory: 64Mi
  security:
    authc:
      enabled: false
      # accepted values: icp
      # what it does: redirects to icp login page first
      provider: icp
    authz:
      enabled: false
      # accepted values: icp
      # what it does: only allow request to pass if user
      # have access to the required namespaces
      # that the current user has access to
      # requires authc.enabled = true and authc.provider = icp
      provider: icp
      icp:
        # 1. user is allowed to access the kibana ingress
        #    if namespaces granted to user are listed below
        # 2. when the list below is empty, only cluster admin
        #    can access this kibana ingress
        authorizedNamespaces:
          - tenantadev
          - tenantatest
          - tenantaprod

filebeat:
  name: filebeat-ds
  resources:
    limits:
      memory: 256Mi
    requests:
      memory: 64Mi
  image:
    repository: "quay.io/opencloudio/icp-filebeat-oss"
    tag: "6.6.1-build.2"
    digest: "sha256:eaa2204025d101ba834b7f20c684fbc54ced4b514188bf210aef29919fd74842"
  scope:
    nodes: {}
    namespaces: []
  tolerations: []
  registryHostPath: "/var/lib/icp/logging/filebeat-registry/{{ .Release.Name }}"
  # accepted values: text, json
  # what it does: parses the log data as json or text
  logFormat: text
elasticsearch:
  name: "elasticsearch"
  internalPort: 9300
  image:
    repository: "quay.io/opencloudio/icp-elasticsearch-oss"
    tag: "6.6.1-build.2"
    digest: "sha256:173aae206a3fab5a5e6d37fcff14194dd1d17cf4ccf1e44bec914c75d66748e9"
  pkiInitImage:
    repository: "quay.io/opencloudio/logging-pki-init"
    tag: "2.3.0-build.3"
    digest: "sha256:d73cbc2895486c425bde39497b10e00fd45b550e4953eb8d3e04c1ac3936b4a8"
    resources:
      limits:
        memory: 512Mi
      requests:
        memory: 64Mi
  initImage:
    repository: "quay.io/opencloudio/icp-initcontainer"
    tag: "1.0.0-build.4"
    digest: "sha256:9aad9fd724ec9308bec711d7738b5f0ae0c37a72ffb19a26dbcf622f1a603e89"
  routerImage:
    repository: "quay.io/opencloudio/icp-management-ingress"
    digest: "sha256:f6694ea8a461468989874b4b091f1d64366eacb9821cc9836d8100e34f333634"
    tag: "2.5.3"
    resources:
       limits:
         memory: 256Mi
       requests:
         memory: 64Mi
  security:
    authc:
      # accepted values: true
      enabled: true
      # accepted values: nginx
      # what it does: mtls authz with account rbac
      provider: nginx
    authz:
      enabled: false
      # accepted values: icp
      # what it does: filter log content by the namespace
      # that the current user has access to
      provider: icp

  client:
    name: client
    replicas: 1
    heapSize: "1024m"
    memoryLimit: "1536Mi"
    restPort: 9200
    antiAffinity: soft
    tolerations: []
    nodeSelector:

  master:
    name: master
    # Set to the # of management (or master, if no mgmt) nodes
    replicas: 1
    heapSize: "1024m"
    memoryLimit: "1536Mi"
    antiAffinity: soft
    tolerations: []
    nodeSelector:

  data:
    name: data
    # Set to the # of management (or master, if no mgmt) nodes
    replicas: 2
    heapSize: 4000m
    memoryLimit: 7000M
    antiAffinity: hard
    tolerations: []
    nodeSelector:
    storage:
      # When true will expect a PersistentVolume
      persistent: true
      # Set to true if you are using GlusterFS or other dynamic provisioner
      useDynamicProvisioning: false
      # If not using dynamic provisioning, you can use selectors to refine the binding process.
      # These are IGNORED if using dynamic provisioning.
      selector:
        label: ""
        value: ""
      # 30Gi is not the recommended size, but rather a small default.
      # It will match much larger drives as well.
      size: 30Gi
      accessModes:
        - ReadWriteOnce
      ## Specify the storageClass name you want to use
      ## If you don't specify a storageClass name it will use the default
      storageClass: ""

curator:
  name: log-curator
  resources:
    limits:
      memory: 256Mi
    requests:
      memory: 64Mi
  image:
    repository: "quay.io/opencloudio/indices-cleaner"
    tag: "1.2.0-build.3"
    digest: "sha256:18f129c9cd1ac527a13a1a1d7bced33585f4be713dd2944fa00cb871989b5239"
  # runs at 23:30 UTC daily
  schedule: "30 23 * * *"
  nodeSelector:
  tolerations: []
  app:
    unit: days
    count: 1
  monitoring:
    unit: days
    count: 7
  watcher:
    unit: days
    count: 1
  va:
    unit: days
    count: 90
  mapp:
    unit: days
    count: 2
  auditLog:
    unit: days
    count: 1

xpack:
  monitoring: true
  graph: false
  reporting: false
  ml: false
  watcher: false
  license:
    # accepted values: secret, selfGenerated
    # what it does: determines which xpack license will be used
    source: selfGenerated
    selfGenerated:
      # accepted values: trial, basic
      # what it does:
      # see https://www.elastic.co/guide/en/elasticsearch/reference/6.8/license-settings.html
      type: basic
    secret:
      # the secret need to be in the same namespace as the chart release
      secretName: es-license
      # the Kubenetes field name (key) within the specified secret
      # that stores license json file
      fieldName: license.json
upgrade:
  elasticsearch:
    # set to true if data from old version need to be imported
    importData: true
    # if set to true, a copy of existing data in old format will be left intact
    # under pv-mount/nodes (/usr/share/elasticsearch/data/nodes)
    # this allows data (up to point of upgrade) to be restored when rolling back
    retainOldData: true
