#
# Copyright 2020 IBM Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apps/v1
kind: Deployment
metadata:
  name: ibm-elastic-stack-operator
  labels:
    name: ibm-elastic-stack-operator
    app.kubernetes.io/instance: common-logging
    app.kubernetes.io/managed-by: elasticstacks.elasticstack.ibm.com
    app.kubernetes.io/name: elasticstacks.elasticstack.ibm.com
spec:
  replicas: 1
  selector:
    matchLabels:
      name: ibm-elastic-stack-operator
  template:
    metadata:
      labels:
        name: ibm-elastic-stack-operator
        app.kubernetes.io/instance: common-logging
        app.kubernetes.io/managed-by: elasticstacks.elasticstack.ibm.com
        app.kubernetes.io/name: elasticstacks.elasticstack.ibm.com
      annotations:
         "openshift.io/scc": "restricted"
         productName: IBM Cloud Platform Common Services
         productID: "068a62892a1e4db39641342e592daa25"
         productVersion: "3.4.0"
         productMetric: FREE
    spec:
      serviceAccountName: ibm-elastic-stack-operator
      containers:
        - name: ibm-elastic-stack-operator
          image: quay.io/opencloudio/ibm-elastic-stack-operator:latest
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              value: ""
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "elastic-stack-operator"
          resources:
            limits:
              cpu: 150m
              memory: 512Mi
