cluster.name: "{{ .Values.elasticsearch.name }}"
node.name: ${HOSTNAME}

network.host: _local_
http.port: 9201
http.publish_port: {{ .Values.elasticsearch.client.restPort }}

transport.host: 0.0.0.0
transport.tcp.port: {{ .Values.elasticsearch.internalPort }}

discovery.zen.ping.unicast.hosts: {{ .Values.elasticsearch.master.name }}-discovery
discovery.zen.minimum_master_nodes: {{ template "elasticsearch.master.minimumNodes" . }}

