# Licensed Materials - Property of IBM
# 5737-E67
# @ Copyright IBM Corporation 2016, 2020. All Rights Reserved.
# US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.

cluster.name: "{{ .Values.elasticsearch.name }}"
node.name: ${HOSTNAME}

network.host: _local_
http.port: 9201
http.publish_port: {{ .Values.elasticsearch.client.restPort }}

transport.host: 0.0.0.0
transport.tcp.port: {{ .Values.elasticsearch.internalPort }}

discovery.zen.ping.unicast.hosts: {{ template "elasticsearch.fullname" . }}-discovery
discovery.zen.minimum_master_nodes: {{ template "elasticsearch.data.minimumNodes" . }}

